@model EquipmentReservation.Models.ReservationDetailViewModel
@{
    ViewData["Title"] = "新規予約";
}

<h2>新規予約</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewReservation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                <input asp-for="Purpose" class="form-control" />
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

