@model EquipmentReservation.Models.ReservationViewModel
@{
    ViewBag.Title = "新規予約";
}

<h2>新規予約</h2>

@using (Html.BeginForm("NewReservation", "Reservation"))
{
    @Html.Partial("_ReservationPartial", Model)
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
