@model EquipmentReservation.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Name">Account Name</label>
        <input asp-for="Name" class="form-control" placeholder="Account Name">
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control" placeholder="Password">
    </div>
    <div class="form-check">
        <input asp-for="RememberMe" class="form-check-input">
        <label asp-for="RememberMe" class="form-check-label">Remember Me</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
